
body {
  margin: 0;
  text-align: center;
  font-family: 'Jost', sans-serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Berkshire Swash', cursive;
  font-size: 5rem;
  color: white;
}

h2 {
  font-family: 'Vidaloka', serif;
  font-size: 2rem;
  color: #2b749c;
  font-weight: normal;
}

h3 {
  font-family: 'Vidaloka', serif;
  color: #4d83b6;
}

a {
  color: #1b4b66;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
}
a:hover {
  color: #EAF6F6;
}

hr {
  border-style: dotted;
  border-color: #EAF6F6;
  border-width: 7px 0 0;
  width: 6%;
}

p {
line-height: 2;
}

.profile {
  margin: 100px auto 100px auto;
}

.intro {
  width: 30%;
  margin:auto;
}

.skills {
  margin: 100px auto 100px auto;
}

.contact-me {
  margin: 100px auto 100px auto;
}

.top-container {
  background-color: #B6D8EA;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-color: #4d83b6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.waves {
  margin:0;
  vertical-align: middle;
}

.yoga-img {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.computer-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.dive-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding-top: 5px;

}

.copyright {
  color: #EAF6F6;
  font-family: 'Vidaloka', serif;
  font-size: 0.75em;
  padding: 20px 0;
}



.btn {
  background: #28b2e0;
  background-image: -webkit-linear-gradient(top, #28b2e0, #2887e0);
  background-image: -moz-linear-gradient(top, #28b2e0, #2887e0);
  background-image: -ms-linear-gradient(top, #28b2e0, #2887e0);
  background-image: -o-linear-gradient(top, #28b2e0, #2887e0);
  background-image: linear-gradient(to bottom, #28b2e0, #2887e0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  display: inline-block;
  margin: 50px auto 0 auto;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4d83b6;
  background-image: -webkit-linear-gradient(top, #4d83b6, #45729b);
  background-image: -moz-linear-gradient(top, #4d83b6, #45729b);
  background-image: -ms-linear-gradient(top, #4d83b6, #45729b);
  background-image: -o-linear-gradient(top, #4d83b6, #45729b);
  background-image: linear-gradient(to bottom, #4d83b6, #45729b);
  text-decoration: none;
}
